[Desktop Entry]
Name=OrcaTerm
Comment=OrcaTerm - GPU accelerated terminal emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=org.sianbox.orcaterm
StartupWMClass=org.sianbox.orcaterm
TryExec=wezterm
Exec=wezterm start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
